@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap');
:root {
    --bg-color: #F9FAFB;
    --header-color: #111827;
    --font-color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-main-top {
    overflow: hidden;
    background-color: var(--header-color);
    padding: 2rem;
}

#header-logo {
    color: var(--font-color);
    font-size: 36px;
    font-weight: bold;
    padding: 1rem;
}

.header-main-top #header-logo {
    text-align: center;
}

.header-link {
    text-align: center;
    font-size: 20px;
}

.header-link a {
    font-weight: bold;
    text-decoration: none;
    padding: 12px;
    color: var(--font-color);
    border-radius: 8px;
}

.header-link a:hover {
    background-color: #fff;
    color: #111827;
}

.about-me__row1 {
    padding: 1rem;
}

.about-me__row1::after {
    content: "";
    clear: both;
    display: table;
}

.about-me__column1 {
    float: left;
    width: 33%;
    padding: 20px;
}


/* Responsive CSS */

@media screen and (max-width: 500px) {
    .header-link a {
        float: none;
        display: block;
        text-align: left;
    }
}